<template>
	<lightning-card title="Reset Input Field" icon-name="custom:custom63">
		<div class="slds-var-m-around_medium">
			<lightning-input type="text" label="First Name" data-id="reset"></lightning-input>
			<lightning-input type="text" label="Middle Name" data-id="reset"></lightning-input>
			<lightning-input type="text" label="Last Name" data-id="reset"></lightning-input>
			<lightning-input type="text" label="City" data-name="city"></lightning-input>
			<lightning-input type="text" label="Country"></lightning-input>
			<lightning-input type="checkbox" label="Active" data-name="active"></lightning-input>
		</div>
		<div class="slds-var-m-around_medium">
			<lightning-button label="Reset All" onclick={handleResetAll}></lightning-button>
		</div>
	</lightning-card>
</template>